<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Main menu</title>

	<link href="style.css" rel="stylesheet">
	<script src="movies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
<body class="body">

<div class="container">
    <form method='GET' action="/scrape">

            <h1> Select the genre(s) preferred</h1>
 
            <input id="Check1" name="gen" type="checkbox" value="action">
             <label for="Check1">Action</label>
   
            <input id="Check2" name="gen" type="checkbox" value="comedy">
             <label for="Check2">Comedy</label>

            <input id="Check3" name="gen" type="checkbox" value="adventure">
            <label for="Check3">Adventure</label>
			<input id="Check4" name="gen" type="checkbox" value="crime">
            <label for="Check4">Crime</label>
   
            <input id="Check5" name="gen" type="checkbox" value="drama">
            <label for="Check5">Drama</label>

            <input id="Check6" name="gen" type="checkbox" value="family">
            <label for="Check6">Family</label>
			<input id="Check7" name="gen" type="checkbox" value="fantasy">
            <label for="Check7">Fantasy</label>
   
            <input id="Check8" name="gen" type="checkbox" value="horror">
            <label for="Check8">Horror</label>

            <input id="Check9" name="gen" type="checkbox" value="mystery">
            <label for="Check9">Mystery</label>
			<input id="Check10" name="gen" type="checkbox" value="romance">
            <label for="Check10">Romance</label>
   
            <input id="Check11" name="gen" type="checkbox" value="sport">
            <label for="Check11">Sport</label>

            <input id="Check12" name="gen" type="checkbox" value="war">
            <label for="Check12">War</label>
          
			<div class="range-slider">
			</br>
			<input class="input-range" name="year" type="range" value="1990" min="1990" max="2017">
			<span class="range-value"></span>
	</div> 
			<div> 
               <br>
                <!--<input class="t" type="text" id="tags" name="tags" placeholder="Keywords (ie magic)" /> -->
            </div> 
        <div class="submit-name">
            <input id="btn-primary"class="btn btn-primary btn-lg btn-block" type="submit" value="Pick My Movie!" />
        </div>

    </form>
	<div class="movie">
	<p id="movie" ></p>
	<p id="movieRating" ></p>
	<p id="movieDir"></p>
	<p id="movieDesc"></p>
	<p id="movieActors"></p>
	</div>
	</div>
	
</body>
</html>