
body {
  font-family: "PT Sans", sans-serif;
   font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  color: #673;
  margin-top: 100px;
  margin:0;
  padding:0;
  background: #555;
  
}

.container{

	text-align: center;
	vertical-align: middle;
	margin-top: 17%;
	
}	



input[type="checkbox"] {
	padding: .5rem 1rem;
	border: 1px solid transparent;
    opacity: 0;
}


input[type="checkbox"] + label {
	cursor: pointer;
    padding: .5rem 1rem;
	border: 1px solid transparent;
    background: #efefef;
    color: #aaa;
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
}

.movie{
	margin-top: 4rem;
	font-size: 3.5rem;
}
input[type="checkbox"]:checked + label{
	
    background: #777;
    border: 1px solid #444;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}   




